<div class="poke-profile">
  <h1>{{pokemonProfile.name + ' N.°' + getFormattedNumber(pokemonProfile.id)}}</h1>
  <div class="wrapper" [ngStyle]="{'background-color': pokemonProfile.color}">
    <div class="container">
      <img [src]="pokemonProfile.image">
      <div class="basic-info">
        <div class="info">
          <h3>Height:</h3>
          <p>{{ (pokemonProfile.height / 10) + ' m' }}</p>
        </div>
        <div class="info">
          <h3>Weight:</h3>
          <p> {{ pokemonProfile.weight + ' kg' }} </p>
        </div>
        <div class="info">
          <h3>Type:</h3>
          <div *ngFor="let type of pokemonProfile.types">
            <p class="type">{{ type.type.name }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="description">
      <p> {{pokemonProfile.description.slice(0, 5)}} </p>
    </div>
  </div>
  <app-poke-chart [stats]="pokemonProfile.stats"></app-poke-chart>
  <button (click)="goBack()">Return to Pokédex</button>
</div>