<div class="main">
  <div class="actions">
    <app-pokemon-filter (filter)="filterPokedex($event)"></app-pokemon-filter>
    <input type="number" [(ngModel)]="offset" (blur)="ngOnInit()">
    <button class="paginator">Next &plus;</button>
  </div>
  <div class="pokedex-list">
    <ng-template [ngIf]="displayPokedex.length > 0" [ngIfElse]="no_items">
      <app-poke-card *ngFor="let pokemon of displayPokedex" [pokemon]="pokemon"></app-poke-card>
    </ng-template>
  </div>
  <ng-template #no_items>
    <div class="no-items">
      <h1>No pokemons found</h1>
    </div>
  </ng-template>
</div>
