

ng-template .pokedex-list {
  grid-area: main;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 0.5rem;
}

.pokemon {
  border-radius: 5px;
  width: fit-content;
  height: fit-content;
  flex-direction: column;
}

.pokemon img {
  width: 150px;
}

.pokemon label {
  text-transform: capitalize;
  text-align: center;
  padding: 5px;
}
