.stats {
  background-color: lightslategray;
  border-radius: 5px;
  padding: 1rem;
  gap: 10px;
  flex-direction: column;
  color: white;
  width: min-content;
  h2 {
    text-align: center;
  }
  .graphic {
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: center;
    align-content: center;
    .category {
      display: flex;
      flex-direction: column;
      justify-items: center;
      align-items: center;
      .points {
        border-radius: 3px;
        background-color: cornflowerblue;
      }
      p {
        display: flex;
        text-transform: capitalize;
        text-align: center;
        font-size: smaller;
      }
    }
  }
}
