<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <h2 mat-dialog-title>Add new pokemon</h2>
  <div mat-dialog-content>
    <mat-form-field appearance="fill">
      <mat-label for="name">Name</mat-label>
      <input id="name" type="text" formControlName="pokemonName" matInput>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="fill">
      <mat-label for="description">Description</mat-label>
      <input id="description" type="text" formControlName="pokemonDescription" matInput>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button color="basic" (click)="onClose()">Add</button>
    <button mat-raised-button color="primary" type="submit">Add</button>
  </div>
</form>
