<section class="todoapp">
  <header class="header">
    <h1>Todos</h1>
    <input
      id="new-todo"
      [(ngModel)]="newTask"
      type="text"
      class="new-todo"
      autofocus
      placeholder="What needs to be done?"
      (keyup.enter)="createTask()"
    />
  </header>
  <section class="main" id="main">
    <ul class="todo-list" id="todo-list">
      <li *ngFor="let task of tasksList; let i = index">
        <input
          #checkbox
          type="checkbox"
          class="toggle"
          (click)="changeState(i)"
        />
        <label [ngClass]="{ completed: task.done }">
          {{ task.name }}
        </label>
        <button class="destroy" (click)="deleteTask(i)"></button>
      </li>
    </ul>
  </section>
</section>
