<div class="container">
  <h2>Evolutions</h2>
  <div class="evolution">
    <div class="evolution-card" *ngFor="let evolution of evolutionsData; let last = last">
      <div class="evolution-info">
        <div class="wrapper">
          <div class="image-container">
            <img [src]="evolution.image" (click)="goToPokemonProfile(evolution.id)">
          </div>
          <div class="arrow" [ngClass]="{'last-arrow': last}">
            <fa-icon [icon]="rightArrow"></fa-icon>
          </div>
        </div>
        <p style="text-transform: capitalize; margin-left: 4.5rem;">{{ evolution.species_name }}</p>
        <div class="details">
          <div class="info">
            <span>Evolution trigger: </span>
            <p>{{ evolution.trigger_name ?? '-' }}</p>
          </div>
          <div class="info">
            <span>Minimum level: </span>
            <p>{{ evolution.min_level ?? 'No level' }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
