.container {
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  background-color: lightslategrey;
  h2 {
    text-align: center;
  }
}

.evolution {
  justify-content: space-around;
  display: flex;
  .evolution-card {
    img {
    cursor: pointer;

  }
  display: flex;
  flex-direction: column;
  p {
    text-align: center;
  }
  .details {
    display: flex;
    gap: 1rem;
    .info {
      display: flex;
      span {
        font-size: smaller;
        font-family: sans-serif;
      }
    }
  }
}
}
