.pokemon {
  border-radius: 5px;
  width: fit-content;
  height: fit-content;
  flex-direction: column;
}

.pokemon img {
  width: 150px;
}

.number {
  text-transform: capitalize;
  text-align: center;
  padding: 10px;
  text-align: left;
}

.pokemon p {
  text-transform: capitalize;
  text-align: center;
  padding: 5px;
}
