<div class="form-container">
  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <h2>Add new pokemon</h2>
    <div class="form-input">
      <mat-form-field appearance="fill">
        <mat-label for="name">Name</mat-label>
        <input id="name" type="text" formControlName="pokemonName" matInput>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label for="description">Description</mat-label>
        <input id="description" type="text" formControlName="pokemonDescription" matInput>
      </mat-form-field>
    </div>
    <div>
    </div>
    <button type="submit">Add</button>
  </form>
</div>
